{% extends 'default/base.html' %} <!-- 繼承模板, 塞進 base 模板內-->
{% block content %}
<div class="container main-container">
  <!-- Example row of columns 自己做一個表單-->
  <h1>註冊帳號</h1>
    <form>
        <label>請輸 使用者名稱</label>
        <input class="form-control" type="", name="">
        <label>請輸入使用者 Email</label>
        <input class="form-control" type="", name="">
        <label>請輸入密碼</label>
        <input class="form-control" type="", name="">
        <button class="btn btn-primary btn-block">提交送出</button>
    </form>
</div> <!-- /container -->
{% endblock %}
